{% extends "index.html" %}

{% block title %} User Job Notification Alert{% endblock %}

{% block body_block %}

    <div class="hero-unit">

        <div class="container-fluid">
            <form class="form-signin span4" id="server_setup" method="post" action="">
                {% csrf_token %}
                {{ form }}
                <br/>
                <button class="btn btn-primary" type="submit"> Mark As Read</button>
                <button class="btn btn-default" type="cancel"> Mark As Unread</button>
            </form>
        </div>
    </div>

{% endblock %}