{% extends "index.html" %}

{% block title %} User Login {% endblock %}

{% block body_block %}

    <div class="hero-unit">

        <div class="container">

            <form id="login_form"  class="form-signin span4" id="login_form" method="post" action="/login/">
                <h2 class="form-signin-heading">Please sign in</h2>

                {% csrf_token %}
                {% if bad_details %}
                    <p><strong>Your username and/or password were incorrect!</strong></p>
                {% elif disabled_account %}
                    <p><strong>Your Data Migrant account is currently disabled; we can't log you in!</strong></p>
                {% endif %}

                {% if user.is_authenticated %}
                    You are already logged in <br/>
                    Please progress to the <a href="/userprofile/">User Profile </a>
                 {% else %}

                Username: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="50" />
                <br />
                Password:  <input type="password" class="input-block-level" placeholder="Password" name="password" value="" size="50" />
                <br />

                <button class="btn btn-primary" type="submit"> Sign In </button>
                <button class="btn btn-primary" type="cancel"> Cancel </button>
            {%  endif %}

            </form>
        </div>


        {% if errors %}
            <p>{{ form.fieldname.errors.as_text }}</p>
        {% endif %}

    </div>
{% endblock %}
