Connected to http://localhost:8081/openmrs-standalone

<div>
    Select default location : <input type="search" placeholder="Search location">

    <p>
        Select encounter type :
        <li>HIV consultation </li>
        <li> Adult Initial Visit </li>
        <li> Pediatric Return Visit</li>
    </p>

    <p>
        Select default Identifier :
        <li> OMRS ID</li>
        <li> Unique Identifier</li>
    </p>

    <input type="submit" value="Save Settings">  <!--should take u to default page for registered users -->
    <input type="submit" value="Cancel">

</div>
